<ngb-toast class="mt-2"
    *ngFor="let toast of notificationService.notificationToasts"
    [class]="toast.cssClasses"
    [autohide]="true"
    [delay]="toast.dissapearAfter || 5000"
    (hidden)="notificationService.remove(toast)"
>
    <div *ngIf="isTemplate(toast.content)">
        <ng-template [ngTemplateOutlet]="asTemplate(toast.content)"></ng-template>
    </div>

    <div *ngIf="!isTemplate(toast.content)">
        <ng-container *ngIf="asStandardContent(toast.content); let content">
            <fa-icon 
                *ngIf="content.icon" 
                class="{{content.iconCssClasses}}" 
                [icon]="content.icon!">
            </fa-icon>
            {{content.text}}

        </ng-container>
    </div>

    <div class="d-flex" *ngIf="toast.buttons" class="mt-2">
        <button 
            *ngFor="let btn of toast.buttons" 
            class="btn btn-sm btn-{{btn.color}} me-2" 
            (click)="btn.onClick(); clearNotifications()"
            >{{btn.text}}
        </button>
    </div>
</ngb-toast>